.board {
  width: 100%;
  overflow-y: hidden;

  .header_board {
    padding: 10px;  
    // height: 10vh; 

    display: flex;
    gap: 10px;
    flex-direction: column;

    div:nth-child(1) {
      display: flex;
      justify-self: flex-start;
      gap: 5px;
      padding: 0 !important;

      button {
        border: none;
        background: transparent;
        color: white;
        font-size: 2rem;
        display: flex;
        border-radius: 6px;
        cursor: pointer;
        align-self: flex-start;
        color: orange;
        margin: 0 !important;
  
        // display: none;
  
        &:hover {
          background-color: #2E2E2E;
        }
      }
  
      h2 {
        margin: 0 !important;
        color: #ccc;
        color: #EAEAEA;
        overflow-wrap: break-word;
      }
    }

    div:nth-child(2) {
      display: none;
      button {
        background: transparent;
        // background: #2E2E2E;
        // background: #121212;
        display: flex;
        border-radius: 5px;
        cursor: pointer;
        color: #ccc;
        padding: 5px;
        border: none;
        border: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0 1px 1px black;

        &:hover {
          background-color: #2E2E2E;
          color: white;
        }
      }
    }
  }

  .board_content {
    width: 100%;
    height: 90vh;
    overflow-x: auto;
    overflow-y: auto;
    
    display: flex;
    // align-items: flex-start;
    gap: 10px;
    height: 100%;
    height: 90vh;
    padding: 10px;

    transition: transform 250ms ease; //!!!!!

    .form_add_list {
      min-width: 250px !important;
      max-width: 250px;
    }

  }
}

.container_loader_board {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: #121212;

  .loader_board {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    border: 4px solid #ccc;
    border-top-color: #333;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
  }

}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

// .is_dragging_list {
//   transform-origin: top center;

//   .list {
//     transform: scale(0.80);
//   }
// }

@media screen and (max-width: 600px) {
  .board {

    .header_board {
      button {
        display: flex;
      }

      div:nth-child(2) {
        display: block;
      }
    }

    .board_content {
      transition: transform 250ms ease;
    }

    .is_dragging_list {
      .list {
        // transform: scale(0.70) !important;
      }
    }
  }
  
}