.board {
    // min-height: 100%;
    width: 100%;
    // overflow: hidden;
    overflow-y: auto;

    .header_board {
        padding: 10px;  
        height: 10vh; 

        h2 {
            color: #ccc;
        }
    }

    .board_content {
        width: 100%;
        height: 90vh;
        overflow-x: auto;
        overflow-y: auto;
        
        display: flex;
        // align-items: flex-start;
        gap: 10px;
        height: 100%;
        height: 90vh;
        padding: 10px;

        .form_add_list {
            max-width: 250px;
        }
    }
}