.board {
  width: 100%;
  overflow-y: hidden;

  perspective: 1200px;
  transform-style: preserve-3d;
  transition: transform 250ms ease;

  .header_board {
    padding: 10px;  
    height: 10vh; 

    display: flex;
    // align-items: center;
    gap: 5px;

    button {
      border: none;
      background: transparent;
      color: white;
      font-size: 2rem;
      display: flex;
      border-radius: 6px;
      cursor: pointer;
      align-self: flex-start;
      color: orange;

      display: none;

      &:hover {
        background-color: #2E2E2E;
      }
    }

    h2 {
      color: #ccc;
      color: #EAEAEA;
    }
  }

  .board_content {
    width: 100%;
    height: 90vh;
    overflow-x: auto;
    overflow-y: auto;
    
    display: flex;
    // align-items: flex-start;
    gap: 10px;
    height: 100%;
    height: 90vh;
    padding: 10px;

    .form_add_list {
      min-width: 250px !important;
      max-width: 250px;
    }

  }
}

.is_dragging {
  /* Aleja la “cámara” y aplica un leve giro (opcional) */
  // transform: translateZ(1000px) rotateX(5deg) scale(0.7);
  transform: scale(0.95);
  /* Bajar un poco el contraste/saturación ayuda a resaltar la tarjeta activa */
  // filter: brightness(0.95) saturate(0.9);
}

.container_loader_board {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: #121212;

  .loader_board {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    border: 4px solid #ccc;
    border-top-color: #333;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
  }

}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px) {
  .board {
    .header_board {
      button {
        display: flex;
      }
    }
  }
}