.container_drawer {

  .header_drawer {
    display: flex;
    justify-content: space-between;

    h1 {
      // color: ;

      &::first-letter {
        color: orange;
      }
    }

    button {
      padding: 5px;
      border-radius: 50%;
      
      &:hover {
        background-color: #2e2e2e;
      }
    }
  }

  .container_btns_sidebar {
    li {
  
      &:hover {
        background-color: #2e2e2e;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  // .container_drawer div,
  // .MuiBox-root {
  //   margin: 0 !important;
  //   width: 0 !important;
  //   display: none;
  // }
}

// @media screen and (max-width: 768px) {
//   .container_drawer > div { // afecta el contenido del Drawer (MuiDrawer-paper)
//     width: 100vw !important;
//     height: 60px;
//     flex-direction: row !important;
//     align-items: center;
//     justify-content: flex-start;
//     // justify-content: space-around;
//     padding: 0 10px;
//     position: fixed;
//     top: 0;
//     left: 0;
//     z-index: 1300; // para asegurarte que quede encima de otros elementos
//   }

//   .header_drawer {
//     // display: none; // oculta botón de colapsar en móvil
//   }

//   .container_btns_sidebar {
//     display: flex;
//     flex-direction: row !important;
//     flex-direction: column !important;
//     // align-items: center;
//     // justify-content: space-around;
//     width: 100%;
//     padding: 0;

//     li {
//       // display: flex !important;
//       // justify-content: center ;
//       // justify-content: flex-start !important;
//       // flex-grow: 1;
//       min-width: 30px !important;
//       max-width: auto !important;
//       width: 100%;
//       // display: inline !important;
//       border: 1px solid;

//       .MuiListItemButton-root {
//         padding: 0;
//         border: 1px solid red;
//       }

//       .MuiListItemIcon-root {
//         min-width: unset !important;
//         margin-right: 4px;
//       }

//       .MuiListItemText-root {
//         // display: none; // oculta el texto, deja solo los íconos
//       }

//     }

//   }
// }