.options {
    border-radius: 9px;
    position: relative;

    .btn_active_options {
        background-color: transparent;
        border-radius: 9px;
        cursor: pointer;
        border: none;
        color: #ccc;

        .icon_options_list {
            font-size: 16px;
            padding: 0;
            margin: 0;
        }
    }

    .btn_active_options:hover {
        background-color: rgba(255, 255, 255, 0.1);
        // background-color: rgb(30, 30, 30);
        // color: #1E1E1E;
    }

    .backdrop_list_options {
        cursor: default;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, .6); /* Oscurece el fondo */
        z-index: 1; /* Debe estar detrás del modal */
    }

    .settings_list_show {
        position: absolute;
        top: 10px;
        left: 0;
        height: 200px;
        height: auto;
        width: 300px;
        z-index: 100;
        border-radius: 14px;
        overflow: hidden;

        color: black;
        animation-delay: 1s;
        cursor: default;

        // background-color: #252526 !important;
        color: #ccc;

        .header_settings_list {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 10px 6px;

            .icon-close {
                font-size: 22px;
                border-radius: 5px;
                cursor: pointer;
                
            }

            .icon-close:hover {
                background-color: #2a2c2c;
                color: white;
                background-color: brown;
            }
        }

        .btn_add_card_to_top {
            width: 100%;
            text-align: left;
            
            .btn_add_some {
                border-radius: 0;
                box-shadow: none;
                background: transparent;
                display: flex;
                justify-content: flex-start;

                .icon_add {
                    display: none;
                }

                span {
                    color: black;
                    padding: 3px;  //el componente BtnAdd ya tiene un paddin de 7px y para que halla consistencia con los demas botones le agrego 3px, asi cada elemento tiene 10px
                    font-family: "Inter", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: normal;
                    font-style: normal;
                    color: #ccc;
                    letter-spacing: normal;
                    font-size: 1rem;
                    text-transform: none;
                }
            }

            .btn_add_some:hover {
                
                box-shadow: none;
                background-color: #2a2c2c;
                background-color: rgba(255, 255, 255, 0.1);

                span {
                    color: white;
                }
            }
        }

        .btn_setting_list {
            font-size: 1rem;
            display: block;
            border: none;
            width: 100%;
            text-align: left;
            padding: 10px;
            cursor: pointer;
            background: transparent;
            color: inherit;

            // font-family: "Inter", sans-serif;
            // font-optical-sizing: auto;
            // font-weight: 350;
            // font-style: normal;
        }

        .btn_setting_list:hover {
            color: white;
            background-color: #2a2c2c;
            background-color: rgba(255, 255, 255, 0.1);
        }

        
    }

    .settings_list_hidden {
        display: none;
        z-index: 10000;
        transition: display 1s ease-in-out;
    }

    .interfaze_copy_list_hidden {
        display: none;
    }
}