.tags_container {
    display: flex;
    flex-direction: column;

    h5 {
        display: block;
        font-size: 18px;
        margin: 0;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
        
        .tag_active {
            min-height: 35px;
            margin: 3px;
            padding: 4px;
            border-radius: 6px;
            border: none;
            font-size: 14px;
            display: inline-block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            overflow-wrap: break-word;
            max-width: 100%;
        }

        // .btn_add_tag {
        //     width: 40px;
        //     margin: 3px;
        //     border-radius: 4px;
        //     border: none;
        //     cursor: pointer;
        //     background-color: rgb(114, 109, 109);
        // }

        // .btn_add_tag:hover {
        //     background-color: #ccc;
        // }
    }

    .btn_add_tag {
        // width: 40px;
        margin: 3px;
        border-radius: 4px;
        border: none;
        // cursor: pointer;
        background-color: rgb(114, 109, 109);
        background-color: transparent;
        color: #ccc;
        // border: 1px solid;
        padding: 5px 5px 5px 0;
        
        display: flex;
        gap: 4px;
        align-self: flex-start;
        align-items: center;

        .icon_add_tag {
            margin: 0;
            font-size: 25px;
        }
    }

    .btn_add_tag:hover {
        // color: #2e2e2e;
        background-color: rgb(114, 109, 109);
        background-color: rgb(128, 128, 128, .2);

        // background-color: #ccc;
    }
}