.tags_settings {
    position: absolute;
    // position: relative;
    top: 0;
    left: -50px;
    // left: 50%;
    width: 100%;
    max-width: 300px;
    border-radius: 9px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    // background-color: white;
    z-index: 1000;
    border-radius: 9px;
    // backdrop-filter: blur(20px);
    box-shadow: 0 0 15px #121212;
    background-color: #1E1E1E;
    
    .tags_settings_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // position: absolute;
        position: static;
        width: 100%;
        height: 45px;
        padding: 0 6px;

        span, p, h1 {
            font-size: 1.4rem;
            padding: 0;
            margin: 0 0 0 4px;
        }

        button {
            padding: 0;
            margin: 0;
            border: none;
            border-radius: 9px;
            padding: 6px;
            display: flex;
            background-color: transparent;
            color: #ccc;
            font-size: 20px;
            cursor: pointer;
        }

        button:hover {
            background-color: rgba(255, 255, 255, .1);
        }
    }

    .input_search_tags {
        // margin: 5rem 5px 0 5px;
        margin: 0 5px;
        padding: 10px 5px;
        border-radius: 4px;
        border: 1px solid palevioletred;
        outline-color: blueviolet;
        // font-family: 'Times New Roman', Times, serif;
        font-size: 1rem;
        color: #1E1E1E;
        font-weight: normal;
    }

    .input_search_tags::placeholder {
        color: #252526;
        font-weight: 500;
    }

    .container_tags {
        overflow-y: auto;
        padding: 5px;
        overflow-x: hidden;

        h2 {
            padding-left: 5px;
            font-size: 1.2rem;
        }

        span {
            padding-left: 5px;
        }

        ul {
            list-style: none;
            padding: 0 7px;
            margin: 0;
            
            li {
                display: flex;
                align-items: center;
                margin: 5px 0;

                label {
                    color: #1E1E1E;
                    cursor: pointer;
                    min-height: 100%;
                    height: 100%;
                    transition: transform .3s ease;                    
                    border: none;
                    
                    .pin_active {
                        font-size: 25px;
                        box-shadow: 0 1px 2px #1e1e1e;
                        transform: rotate(25deg);
                        backdrop-filter: blur(5px);
                        position: relative;
                        top: -1px;
                        right: -2px;
                        color: pink;
                        color: #C70039;

                        animation: addPin .5s ease both;
                    }

                    .fake_input {
                        border-radius: 50%;
                        display: inline-block;
                        width: 25px;
                        height: 25px;
                        border: 2px solid #2e2e2e;
                        background-color: transparent;
                        background-color: #fff;
                        box-shadow: inset 0 0 5px #1E1E1E;

                        position: relative;
                        top: -3px;
                        right: 1px;

                        .pin_hover {
                            color: #121212;
                            color: #C70039;
                            opacity: 0;
                            font-size: 25px;
                            transform: translate(10px, -20px) rotate(50deg);
                            transition: transform 0.5s ease;
                        }     
                    }

                    &:hover {
                        color: #fff;

                        // .pin_active {
                        //     box-shadow: 0 15px 25px #121212;
                        //     transform: scale(1.2) translate(0, -4px);
                        // }

                        .fake_input {

                            .pin_hover {
                                transform: translate(-4px, -7px) rotate(25deg);
                                opacity: 1;
                            }
                        }
                    }
                  
                }
    
                .container_icon_edit_and_nametag {
                    // align-content: center;
                    width: 100%;
                    padding: 7px 5px;
                    border-radius: 4px 0 0 4px;
                    display: inline-block;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    margin: 0;
                    // text-shadow: 3px 4px 4px #121212;
                    color: white;
                    font-size: 18px;
                    font-style: italic;
                    letter-spacing: .3px;
                    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
                }

                input, .checkbox_tag {
                    margin: 0;
                    padding: 0;
                }

                .icon_edit_tag {
                    font-size: 1.2rem;
                    margin-right: 5px;
                    color: #121212;
                    color: white;
                    // color: #252526;
                    // color: rgb(204, 204, 204, .9);
                    border-radius: 4px;
                //    border: 1px solid;
                //    display: flex;
                    position: relative;
                    top: 2px;
                    color: #1E1E1E;
                    //    align-self: flex-end;
                }

                .icon_edit_tag:hover {
                    cursor: pointer;
                    color: #1e1e1e;
                    color: #ccc;
                    // background-color: rgba(255, 255, 255, .1);
                }
            }
        }

        
    }

    .container_tags::-webkit-scrollbar {
        width: 8px;
    }

    .container_tags::-webkit-scrollbar-track { 
        background-color: #2e2e2e;
        border-radius: 12px;
    }

    .container_tags::-webkit-scrollbar-thumb {
        background-color: rgb(128, 128, 128, .1);
        background-color: #ccc;
        border-radius: 14px;
    }

    footer {
        padding: 5px;
        button {
            width: 100%;
            margin: 5px 0;
            padding: 5px;
            border: none;
            border-radius: 4px;
            font-size: 1rem;
            color: #1E1E1E;
        }

        button:hover {
            background-color: #ccc;
        }
    }
}

.container_tags_settings {
    // position: relative;
    // border: 2px solid red;
    // position: fixed;
    width: 100%;
    // height: 100vh;
    // z-index: 99999;
}

@keyframes addPin {
    from {
        opacity: 0;
        transform: translate(10px, -20px) rotate(50deg);
    }

    to {
        opacity: 1;
        transform: translate(0, 0) rotate(25deg);
    }
}

@media screen and (max-width: 780px) {
    .tags_settings {
        left: 0;
    }
}