.tags_settings {
    position: absolute;
    top: 0;
    width: 300px;
    border-radius: 9px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    // background-color: white;
    z-index: 1000;
    border-radius: 9px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 5px #121212;
    
    .tags_settings_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 45px;
        padding: 0 6px;

        span, p {
            font-size: 16px;
            padding: 0;
            margin: 0 0 0 4px;
        }

        button {
            padding: 0;
            margin: 0;
            border: none;
            border-radius: 9px;
            padding: 2px 6px;
            background-color: transparent;
            color: #ccc;
            font-size: 20px;
        }

        button:hover {
            background-color: rgba(255, 255, 255, .1);
        }
    }

    .input_search_tags {
        margin: 5rem 5px 0 5px;
        padding: 5px;
        border-radius: 4px;
        border: 1px solid palevioletred;
        outline-color: blueviolet;
    }

    .input_search_tags::placeholder {
        color: #252526;
        font-weight: 500;
    }

    .container_tags {
        overflow-y: auto;
        padding: 5px;
        span {
            padding-left: 5px;
        }

        ul {
            list-style: none;
            padding: 0 5px;
            margin: 0;
            overflow: hidden;
    
            li {
                display: flex;
                align-items: center;
                gap: 5px;
                margin: 5px 0;
    
                div {
                    width: 100%;
                    padding: 5px;
                    border-radius: 4px;
                    display: inline-block;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    margin: 0;
                    // text-shadow: 3px 4px 4px #121212;
                    color: white;
                    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); /* Sombra para mejorar la visibilidad */
                }

                input, .checkbox_tag {
                    margin: 0;
                    padding: 0;
                }

                .icon_edit_tag {
                    font-size: 20px;
                    margin-right: 5px;
                    color: #121212;
                }

                .icon_edit_tag:hover {
                    cursor: pointer;
                    color: #ccc;
                    // background-color: rgba(255, 255, 255, .1);
                }
            }
        }

        
    }

    .container_tags::-webkit-scrollbar {
        width: 8px;
    }

    .container_tags::-webkit-scrollbar-track { 
        background-color: #2e2e2e;
        border-radius: 12px;
    }

    .container_tags::-webkit-scrollbar-thumb {
        background-color: rgb(128, 128, 128, .1);
        background-color: #ccc;
        border-radius: 14px;
    }

    footer {
        padding: 5px;
        button {
            width: 100%;
            margin: 5px 0;
            padding: 5px;
            border: none;
            border-radius: 4px;
        }

        button:hover {
            background-color: #ccc;
        }
    }
}