.cardItem {
    border-radius: 8px;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px); 
    border: 1px solid rgba(255, 255, 255, .1); 
    box-shadow: inset 0 0 2px rgba(255, 255, 255, .1); /* Azul claro tenue */

    display: flex;
    flex-direction: column;
    gap: 3px;
    transition: transform 0.2s ease-in-out;

    padding: 4px 5px;
    position: relative;
    // overflow: hidden;

    .card_cover {
        display: flex;
        flex-direction: column;
        
        .container_color_card {
            .circle {
                width: 15px;
                min-width: 15px;
                height: 15px;
                // margin-right: 2px;
                margin-right: 4px;
                border-radius: 50%;
                display: inline-block;
            }
        }

        .cardName {
            // display: inline-block;
            // display: flex;
            margin: 0;
            overflow-wrap: break-word;
            letter-spacing: .6px;
        }


        .check_animation_card:hover {
            scale: 1.3;
            filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5)); // Agrega grosor simulando un borde
        }
    }

    .content_card {
        .tags_active {
            overflow: hidden;
            list-style: none;
            padding: 0;
            margin: 0;

            display: flex;
            flex-wrap: wrap;
            gap: 4px;

            li {
                border-radius: 4px;
                padding: 3px;
                font-size: 13px;
                
                display: inline-block;  /* Asegura que respete el ancho */
                max-width: 100%;       /* Ajusta según el diseño */
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        .btn_open_description {
            background-color: transparent;
            border: none;
            border-radius: 6px;
            color: #ccc;
            padding: 2px 3.5px;
            display: flex;
            justify-content: space-evenly;
            align-items: end;
            
            .description_icon {
                color: #ccc;
                margin: 0;
                padding: 0;
                font-size: 18px;
                transition: all .3s ease-in-out;
            }
    
            .description_icon:hover {
                transform: scale(1.2);
                background: rgba(255, 255, 255, .1);
                border-radius: 4px;
                padding: 2px;
            }

            span {
                margin: 0;
                font-size: 14px;
            }
        }

        .btn_open_description:hover {
            color: white;
            background-color: rgba(255, 255, 255, .1);
        }
    }

    .description_modal {
        position: absolute;
        max-width: 100%;
        width: 100%;
        top: 0;
        left: 0;
        min-height: 100%;
        max-height: 200%;
        overflow-y: auto;
        background-color: #ccc;
        // background: transparent;
        backdrop-filter: blur(8px);
        box-shadow: inset 0 0 10px #2e2e2e;
        // background: linear-gradient(135deg, rgb(205, 133, 63), rgb(36, 35, 35));
        // background-color: rgba(255, 255, 255, .5);
        
        border-radius: 8px;
        color: black;
        z-index: 9999;
    }

    // .description_modal::before {
    //     position: absolute;
    //     left: 0;
    //     top: 0;
    //     // background-color: rgba(255, 255, 255, 1);
    //     // background-color: #ccc;
    //     // filter: blur(2px);
    //     // backdrop-filter: blur(10px);
    //     filter: blur(10px);
    //     content: '';
    //     height: 100%;
    //     min-height: 100%;
    //     width: 100%;
    //     border-radius: inherit;
    // }
}

.modal_hidden {
    display: none;
}

.cardItem:hover {
    // transform: scale(1.02);
    box-shadow: none;
    // box-shadow: inset 0 0 5px rgba(173, 216, 230, 0.1); /* Azul claro tenue */
    color: white;

    .circle {
        opacity: 1;
    }
}

