.board_list {
    border: 2px solid black;
    width: 260px;
       
    border-radius: 11px;
    background-color: #f4f5f7;
    background-color: brown;
    padding: 10px;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        border: 1px solid;

        .title_list {
            font-size: 22px;
        }

        .btns_header_list {
            display: flex;
            gap: 6px;

            .btn_collapse_list {
                background-color: #f4f5f7;
                border: none;
                border-radius: 9px;
                padding: 5px;
                cursor: pointer;
                transition: background-color 0.3s;

                &:hover {
                    background-color: #e3e4e8;
                }
                
                .icon_collapse_list {
                    font-size: 22px;
                }
            }

            .options {
                border-radius: 9px;
                position: relative;

                button {
                    background-color: #f4f5f7;
                    padding: 5px;
                    border-radius: 9px;
                    cursor: pointer;
                    border: none;

                    .icon_options_list {
                        font-size: 22px;
                    }
                }

                .settings_list_show {
                    position: absolute;
                    top: 10px;
                    left: 0;
                    height: 200px;
                    height: auto;
                    width: 300px;
                    border: 2px solid;

                    background-color: #e3e4e8;
                    color: black;
                }

                .settings_list_hidden {
                    display: none;
                }
            }
        }
    }

    footer {
        .btn_add_target {

        }
    }
}