.title_list {
    position: relative;
    top: 0;
    left: 0;
    max-width: 175px;
    cursor: pointer;
    
    .name_list {
        font-size: 22px;
        width: 100%;
        overflow-wrap: break-word;
    }

    textarea {
        width: 100%;
        min-height: 20px;
        line-height: 15px;
        border: 2px solid blue;
        padding: 2px;
    }

    .input_container {
        display: flex;
        border: 2px solid blue;
        border-radius: 4px;
        max-width: 175px;

        textarea {
            width: 100%;
            min-height: 20px;
            resize: none;
            overflow: hidden;
            margin: 0;
            font-size: 20px;
        }

        input {
            min-height: 25px;
            border-radius: 4px;
            border: none;
            font-size: 16px;
            max-width: 100%; 
            
            display: flex;
            flex-wrap: wrap;
        }

        button {
            height: 25px;
            width: 20%;
        }
    }
}