.options {
    border-radius: 9px;
    position: relative;

    .btn_active_options {

        background-color: #f4f5f7;
        background-color: transparent;
        padding: 5px;
        border-radius: 9px;
        cursor: pointer;
        border: none;

        .icon_options_list {
            font-size: 16px;
        }
    }

    .btn_active_options:hover {
        background-color: #e3e4e8;
    }

    .settings_list_show {
        position: absolute;
        top: 10px;
        left: 0;
        height: 200px;
        height: auto;
        width: 300px;
        border: 2px solid;
        z-index: 100;

        background-color: #e3e4e8;
        color: black;
        animation-delay: 1s;
        transition: display 1s ease-in-out;

        .header_settings_list {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 10px 5px;

            .icon-close {
                font-size: 22px;
                border-radius: 5px;
                cursor: pointer;
                border: 1px solid;
            }

            .icon-close:hover {
                background-color: #2a2c2c;
                color: white;
            }
        }

        .form_add_target_to_top {
            width: 100%;
            text-align: left;

            .btn_add_some {
                border-radius: 0;

                .icon_add {
                    display: none;
                }
                span {
                    color: black;
                    padding: 3px;  //el componente BtnAdd ya tiene un paddin de 7px y para que halla consistencia con los demas botones le agrego 3px, asi cada elemento tiene 10px
                }
            }

            .btn_add_some:hover {
                background-color: #2a2c2c;

                span {
                    color: white;
                }
            }
        }

        .btn_setting_list {
            display: block;
            border: none;
            width: 100%;
            text-align: left;
            padding: 10px;
            cursor: pointer;
        }

        .btn_setting_list:hover {
            color: white;
            background-color: #2a2c2c;
        }

        
    }

    .settings_list_hidden {
        display: none;
        z-index: 10000;
        transition: display 1s ease-in-out;
    }

    .interfaze_copy_list_hidden {
        display: none;
    }
}