.board {
    border: 1px solid black;
    width: 80%;
    height: 100vh;

    header {
        padding: 10px;  
        height: 10vh; 
    }

    .board_content {
        width: 100%;
        height: 90vh;
        overflow: auto;
        padding: 10px;
        
        display: flex;
        align-items: flex-start;
        gap: 10px;

        .form_add_list {
            max-width: 250px;
        }
    }
}