.tags_settings {
    border: 2px solid green;
    position: absolute;
    width: 300px;
    border-radius: 8px;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .tags_settings_header {
        background-color: red;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;

        span {
            font-size: 22px;
        }

        button {
            align-self: flex-start;
            padding: 0;
            margin: 0;
            background-color: transparent;
        }

        button:hover {
            background-color: #ccc;
        }
    }

    ul {
        list-style: none;

        li {
            border: 1px solid;
            display: flex;
            gap: 5px;

            div {
                width: 100%;
            }
        }
    }
}