.interfaz_copy_element {
    // background-color: antiquewhite;
    
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 10;
    width: 250px;
    cursor: default;

    background-color: #252526 !important;
    color: #ccc;
    border-radius: 9px;
    padding: 3px;

    header {
        display: flex;
        justify-content: space-between;
        height: auto;
        padding: 5px;

        button {
            color: #ccc;
            border: none;
            background: transparent;
            border-radius: 9px;
            cursor: pointer;
            padding: 4px;
            
        }

        button:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }

    form {
        padding: 5px;
        textarea {
            min-height: 10px;
            width: 100%;
            font-size: 18px;
            line-height: 1.3;
            padding: 3px;
            border-radius: 8px;
            outline: 2px solid #0099FF; /* Color y grosor */
            outline-offset: 1px; /* Espaciado */
        }

        textarea:focus {
            outline: 2px solid #2196F3;
        }

        button {
            margin-top: 3px;
            padding: 4px 6px;
            color: #ccc;
            border: none;
            border-radius: 9px;
            box-shadow: 0 3px 5px #121212;
            background-color: rgb(128, 128, 128, .1);
            padding: 4px 6px;
            color: #4A90E2;
            font-weight: bold;
        }

        button:hover {
            color: #2e2e2e;
            background-color: #4A90E2;

        }
    }
}

.backdrop_interfaz_copy_element {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 5;
    cursor: default;
}