.container_home {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background: url(/src/assets/imgs/DALL·E\ 2025-03-06\ 17.05.58\ -\ A\ modern\,\ professional\,\ and\ clean\ abstract\ background.\ The\ design\ should\ feature\ soft\ gradient\ colors\,\ subtle\ abstract\ shapes\,\ and\ a\ minimalistic\ aest.webp);
    background-size: cover;
    background-color: #fafafa;
    background-color: #e3f2fd;
    // background-color: #41dab8;
    // background-color: #7FDBFF;
    padding: 50px;

    .mensaje_proyecto_en_construccion {
        background-color: #f8d7da;
        color: #721c24;
        background-color: rgb(248, 215, 218, .8);
        background-color: #e0f2fe;
        color: #0369a1;
        padding: 2px 8px;
        border-radius: 0 0 6px 6px;
        position: absolute;
        top: 0;
        margin: 0;
    }
    
    .box {
        .card_left {
            padding: 10px;
            border-radius: 6px;
            // background-color: #F8F8F8;
            background-color: #e3f2fd;
            // background-color: #fafafa;
            max-width: 500px;
            min-height: 300px;
            color: #000000;
            p {
                margin: 0;
                display: block;
            }
    
            .card_presentation {
            }
        }
    }
}

.loader_home {
    margin: 100px auto;
    width: 100%;
    height: 100vh;
    border: 4px solid #ccc;
    border-top-color: #333;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}