.sidebar {
   
    width: 250px;
    height: 100%;
    min-height: 100vh;
    background-color: red;
    border: 4px solid black;
    border-radius: 11px;
    transition: width 0.3s ease;
    padding: 0 10px;

    header {
      display: flex;
      justify-content: space-between;      
      .logo-and-text {
        display: flex;
        align-items: center;        
        gap: 10px;
        img {

          width: 40px;
          height: 40px;
          border-radius: 10px;
        }
  
        p{
          font-size: 20px;
        }
      }

      .btn-open-close-sidebar {
        background-color: transparent;
        color: white;
        border: none;
        padding: 10px;
        margin: 10px;
        cursor: pointer;
      }
      .btn-open-close-sidebar:hover {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 10px;
      }
    }

    .btn-boards {
      width: 100%;
      border-radius: 7px;
      border: none;
      padding: 5px;
      font-size: 18px;
      align-content: center;
      text-align: left;
      cursor: pointer;
      color: white;
      background-color: transparent;

      .icon-board {
        margin-right: 10px;
        position: relative;
        top: 2px;
        font-size: 18px;
      }
    }

    .btn-boards:hover {
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 10px;
    }
}
  
.sidebar-desactive {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  transition: grid-template-columns 0.3s ease;  
  height: 100%;
  background-color: red;
  border: 4px solid black;
  grid-template-columns: 0fr;
  width: 20px;
  transition: width 0.3s ease; /* Animación suave cuando se cambia la posición */

  header {
    display: flex;
    justify-content: space-between;
    .logo-and-text {
      display: none;
    }

    .btn-open-close-sidebar {
      color: white;
      border: none;
      padding: 5px;
      margin: 10px;
      cursor: pointer;
      transform: translateX(-10px);
      border-radius: 50%;

      color: rgba(255, 255, 255);
      transition: .5s;
      border-radius: 11px;
      box-shadow: inset 1px 0px 0px orange;

      background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border-radius: 20px;
      border:1px solid rgba(255, 255, 255, 0.18);
      box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
      border: none;

      i {
        font-size: 16px;
        color: #ccc;
      }
    }
  }
}

.sidebar-desactive, .sidebar {
  color: rgba(255, 255, 255);
    transition: .5s;
    box-shadow: inset 1px 0px 0px orange;

    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: none;
}