.name_card_container {
    // display: flex;
    // flex-direction: column;
    // align-items: flex-start;
    width: 100%;
    color: #ccc;

    p, h3 {
        margin: 0;
    }

    .label_card_title {
        font-weight: bold;
        // font-style: italic;
    }

    .card_name_modal {
        min-width: 100%;
        display: flex;
        gap: 5px;
        cursor: default;
        overflow: hidden;
        align-items: flex-end;
        
        .name_component {
            width: 100%;
            align-content: end;
            font-size: 22px;
            font-size: 1.4rem;
            color: #0099FF;
            color: #ff9800;
            cursor: pointer;
            overflow-wrap: break-word;
        
            &:hover {
                .icon_open_textarea {
                    color: #0099FF;
                    color: #1976d2;
                }
            }

            .icon_open_textarea {
                // opacity: 1;
                // height: auto;
                // width: auto;
                
                // display: inline-block;
                // align-self: flex-end;
                

                // margin: 0;
                // margin-left: 3px;
                // border-radius: 6px;
                // font-size: 23px;
                // color: white;
                // color: gray;
                // transition: color linear .2s;
                // transition: background linear .3s;

                // &:hover {
                //     background: rgba(128, 128, 128, .4);
                // }
            }
        }

       

        // .title_component {
        //     max-width: 100%;
        //     .name_component {
        //         font-size: 20px;
        //         font-size: 1.4rem;
        //         color: #0099FF;
        //         color: #ff9800;
        //         width: 100%;
        //         border: 1px solid;
        //         // color: #F5E6CC;
        //     }
    
            
    
            textarea {
                min-width: 100%;
                width: 100%;
            }
        // }
    }
}