.name_card_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    color: #ccc;

    p, h3 {
        margin: 0;
    }

    .label_card_title {
        font-weight: bold;
        // font-style: italic;
    }

    .nameList_modal_card {
        font-size: 18px;
        // font-weight: bold;
        // color: #0099FF !important;

        span {
            // color: #0099FF !important;
            font-weight: normal;
        }
    }

    .title_component {
        max-width: 100%;
        .name_component {
            font-size: 20px;
            font-size: 1.4rem;
            color: #0099FF;
            color: #ff9800;
            // color: #F5E6CC;
        }

        

        textarea {
            min-width: 100%;
            width: 100%;
        }
    }
}