.board_list {
    border: 2px solid black;
    width: 260px;
    min-width: 260px;
       
    border-radius: 11px;
    // background-color: #f4f5f7;
    // background-color: brown;
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 5px;

    .header_list {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0;
        gap: 3px;
        height: 100%;
        border: 2px solid;

        .btns_header_list {
            display: flex;
            gap: 3px;

            .btn_collapse_list {
                background-color: #f4f5f7;
                background-color: transparent;
                border: none;
                border-radius: 9px;
                padding: 5px;
                padding: none;
                cursor: pointer;
                transition: background-color 0.3s;

                &:hover {
                    background-color: #e3e4e8;
                }
                
                .icon_collapse_list {
                    font-size: 16px;
                    margin: 0;
                    padding: 0;
                }
            }

        }
    }

    .content_list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    footer {
        
        .form_add_target {

            .btn_add_some {                      //btn_add_target
                cursor: pointer;
                border-radius: 7px;
                padding: 7px;
                width: 100%;
                border: none;
                display: flex;
                align-items: center;
                gap: 9px;
                background-color: transparent;
                
                .icon_add {
                    font-size: 20px;
                    color: black;
                }    
        
                span {
                    padding: 0;
                    margin: 0;
                    color: black;
                }
            }
        
            .btn_add_some:hover {
                background-color: rgba(255, 255, 255, 0.3);
            } 
        }

        
    }
}

.board_list_collapse {
    cursor: pointer;

    height: 40px;
    width: 190px;
    border-radius: 9px;
    transform: rotate(90deg);

    position: relative;
    top: 200px;
    overflow: hidden;

    
    border: 2px solid green;
  

    .header_list {
        padding: 0;
        margin: 0;
        border: 2px solid red;
        width: 100%;

        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        // grid-template-rows: repeat(6, 1fr);

        .title_list {
            border: 1px solid;
            // grid-row: 3/-1;
            
            // transform: rotate(90deg);
        }

        
    }

    .content_list {
        display: none;
    }

    footer {
        display: none;
    }
}

.list_dragging {
    opacity: 0.5;
    background-color: #f4f5f7;
    border: 2px solid black;
}