.list {
    // width: 260px;
    // width: 100%;
    // min-width: 250px;
    width: 280px;
    // min-width: 260px;
    // max-width: 310px;

    border-radius: 11px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 0.5px solid rgba(255, 255, 255, .1); 
    // box-shadow: inset 0 0 3px #1E1E1E;
    // box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    // border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #181818 !important;
    background-color: #121212 !important;
    background-color:  #1E1E1E !important;
    // background-color: #121212 !important;
    background-color: #252526 !important;

    .header_list {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0;
        gap: 3px;
        height: 100%;

        .listName_container {
            // font-size: 22px;
            .name_component {
                // font-size: 18px;
                // font-size: 1rem;
                // font-weight: 500;
                // letter-spacing: 1px;
            }
        }

        .btns_header_list {
            display: flex;
            gap: 3px;

            .btn_collapse_list {
                // background-color: #f4f5f7;
                background-color: transparent;
                border: none;
                border-radius: 9px;
                // padding: 5px;
                // padding: 0;
                cursor: pointer;
                transition: background-color 0.3s;
                color: #ccc;

                &:hover {
                    background-color: #e3e4e8;
                    background-color: rgba(255, 255, 255, 0.3);
                    background-color: rgba(255, 255, 255, 0.1);
                    // color: #1E1E1E;
                }
                
                .icon_collapse_list {
                    font-size: 16px;
                    margin: 0;
                    padding: 0;
                }  
            }

        }
    }

    .content_list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        // // position: relative;
    }

    footer {      
        .btn_add_card {
          
            margin: 0;
            .btn_add_some {                      //btn_add_target
                cursor: pointer;
                border-radius: 7px;
                padding: 7px;
                width: 100%;
                border: none;
                display: flex;
                align-items: center;
                gap: 9px;
                background-color: transparent;
                color: #ccc;
                
                .icon_add {
                    font-size: 16px;                    
                }    
        
                span {
                    font-size: 14px;
                    padding: 0;
                    margin: 0;
                    color: inherit;
                    // color: black;
                }
            }
        
            .btn_add_some:hover {
                background-color: rgba(255, 255, 255, 0.1);
            }
            
            .form_add_some {
                // background-color: #1E1E1E;
                // background-color: #121212;
                // border: none;
                
            }
        }
    }
} 

.list_dragging {
    opacity: 0.5;
    background-color: #f4f5f7;
    border: 2px solid black;
}