.container_btn_add {
    min-height: 40px;
    width: 100%;
    border-radius: 7px;
    background-color: transparent;
    border: none;

    .btn_add_some {
        cursor: pointer;
        border-radius: 7px;
        // background-color: #ffffff33;
        // background-color: #FF9F1C;
        // background-color: #64FFDA;
        background-color: #6200ee;
        padding: 7px;
        width: 100%;
        border: none;
        display: flex;
        align-items: center;
        gap: 9px;
        
        .icon_add {
            font-size: 20px;
            color: white;
        }    

        span {
            padding: 0;
            margin: 0;
            color: #ffffff;
            font-family: inherit;
            letter-spacing: 1px;
        }
    }
    
    .btn_add_some:hover {
        background-color: rgba(255, 255, 255, 0.3);
        background-color: rgb(98, 0, 238, .5);
    } 

    .form_add_some {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        background-color: rgb(18, 18, 18, .80);

        // background: linear-gradient(135deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0));
        // background-color: rgba(255, 255, 255, 0.05);
        background-color: rgb(30, 30, 30, .35);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(4px);
        // border:1px solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        border-radius: 7px;
        border: .5px solid rgba(255, 255, 255, .2); /* Borde sutil */
        // border: 1px solid rgba(30, 30, 30, .5);
        .input_add {
            border: none;
            border-radius: 7px;
            padding: 7px;
            background-color: rgb(30, 30, 30);
            background-color: transparent;
            // background: linear-gradient(135deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
            // backdrop-filter: blur(5px);
            // -webkit-backdrop-filter: blur(4px);
            // border: 1px solid rgba(255, 255, 255, 0.18);
            color: white;
            box-shadow: inset 0 0 10px rgb(30, 30, 30); /* Efecto más profundo */
            // box-shadow: 0 0 10px rgba(30, 30, 30); /* Efecto más profundo */
            // box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.37);
            box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8); /* Efecto más profundo */
            // border: 1px solid #5E81AC;


            // background-color: transparent;
            // border: 1x solid #1E1E1E;
            letter-spacing: .3px;
            color: #ccc;
            // color: rgb(30, 30, 30);
        }

        .input_add:focus {
            outline: none;
            border: 1px solid #5E81AC;
            // box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8); /* Efecto más profundo */
        }

        .input_add::placeholder {
            font-style: italic;
            color: #ccc;
        }
        // #6200EE

        .actions {
            display: flex;
            gap: 10px;

            button {
                padding: 3px;
                cursor: pointer;
                // background-color: #5E81AC;
                // color: white;
                // background-color: #9370DB;
                color: #121212;
                color: #ccc;
                font-size: 12px;
                margin: 0;
                border: 1px solid rgba(255, 255, 255, .1);
                letter-spacing: .6px;
            }

            .btn_add {
                cursor: pointer;
                border-radius: 7px;
                // background-color: hwb(225 25% 12%);
                // background-color: #03DAC5;
                // background-color: rgb(98, 0, 238, .5);
                // background-color: #1E1E1E;
                // color: #2a2c2c;
                padding: 7px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 9px;
                
                .icon_add_list {
                    font-size: 20px;
                    color: white;
                }    

                span {
                    padding: 0;
                    margin: 0;
                    color: white;
                }
            }

            .btn_add:hover {
                background-color: rgb(94, 129, 172, .6);
                color: white;
            }

            .btn_cancel:hover {
                color: white;
                background-color: rgb(255, 0, 0, .4);
            }
        }
    }

    .form_add_hidden {
        display: none;
    }
}

// #f4f5f7