.msg_is_board_not_found {
    max-width: 600px;
    
    margin: 0 auto;
    padding: 2rem;
    // border: 1px solid #f5c6a5;
    border-radius: 8px;
    color: #3d2b1f;
    font-size: 0.9rem;
    line-height: 1.6;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    color: #fff;

    display: flex;
    align-self: center;
    flex-direction: column;
  
    h1 {
      color: #fff;
      text-align: center;
    }
  
    .text_rout_not_found {
      margin: 20px 0 !important;
      overflow-wrap: break-word;

      span {
        color: orangered;
        font-style: italic;
      }
    }
  
    ol {
      display: flex;
      gap: 10px;
      flex-direction: column;
    }
  
    p:last-child {
      margin: 1rem auto;
    }
  }