

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: rebeccapurple;
  background-color: #0A192F;
  background-color: #121212;
  /* background-color: #1E1E1E; */
  overflow-y: auto;
  display: flex;
  color: #E0E0E0;
}

.montserrat {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter_title {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  letter-spacing: .4px;
}

.inter_subtitle {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
  letter-spacing: .3px;
  /* text-shadow: 0 2px 1px #121212; */
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  /* text-shadow: 0 1px 1px #121212; */
  /* letter-spacing: 0.1px; */
}

.inter_light_cursive {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
}

.inter_light {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.inter_super_light {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: italic;
}

.work_sans_title {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1px;
}

.work_sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  /* letter-spacing: 1px; */
}

.work_sans_light {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.work_sans_btn {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.source_code_pro {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.source_code_pro_text {
  font-family: "Source Code Pro", monospace;
  /* font-optical-sizing: auto; */
  /* font-weight: normal; */
  /* font-style: normal; */
  letter-spacing: .1px;
}

.roboto_title {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  letter-spacing: .3px;
}

.roboto_light {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  letter-spacing: .3px;
}

.roboto_medium {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  letter-spacing: .3px;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  /* letter-spacing: .5px; */
}

.roboto_subtitles {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  letter-spacing: .3px;
}