* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: rebeccapurple;

  display: flex;
  gap: 1rem;
}

.montserrat {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  border: 2px solid red;
}